@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/DBSystem/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DBSystem/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DBSystem/assets/css/main-min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/DBSystem/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/DBSystem/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/DBSystem/Css/style.css" />
    <script type="text/javascript" src="~/Content/DBSystem/assets/js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="~/Content/DBSystem/assets/js/bui-min.js"></script>
    <script type="text/javascript" src="~/Content/DBSystem/assets/js/common/main-min.js"></script>
    <script type="text/javascript" src="~/Content/DBSystem/assets/js/config-min.js"></script>
    <script type="text/javascript" src="~/Content/DBSystem/Js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/DBSystem/Js/ckform.js"></script>
    <script type="text/javascript" src="~/Content/DBSystem/Js/common.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
