<!--<div class="container body-content">
        <hr />
        <footer>

        </footer>
    </div>
-->
<body class="bodyBg font_fm">
    <section>
        @RenderBody()
    </section>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>