
@{
    ViewBag.Title = "happyFamilyDB";
}

<h2>happyFamilyDB</h2>
<p>SessionName @Session["username"]</p>
<p>
    <a href="happyfamily/News">HappyFamily News Index</a>
</p>
<p>
    <a href="happyfamily/Activity">HappyFamily Activity Index</a>
</p>
<p>
    <a href="happyfamily/GeneralMes">HappyFamily CenreralMes Index</a>
</p>

