@{
    Layout = "~/Views/Shared/_HappyFamilyHelp.cshtml";
}

@*导航栏*@
@section breadcrumb
{

    <li class="active">建筑系统</li>
}

@*系统选择部分*@
@section pagenavi
{
    <li class="navi-m1"><a href="javascript:void(0);" data-type="jz" title="全家乐建筑">全家乐建筑</a></li>
    <li class="navi-m2  active"><a href="javascript:void(0);" data-type="yz" title="全家乐养殖">全家乐养殖</a></li>
    <li class="navi-m3"><a href="javascript:void(0);" data-type="xt" title="全家乐系统">全家乐系统</a></li>
}

@*主体部分*@
<!--列表栏-->
<div class="page-main">
    <div class="container">
        <div class="col-lg">
            <ul id="list" class="list list-col4 list-row2 comm-color list-lg clear">

                <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
                <html xmlns="http://www.w3.org/1999/xhtml">
                <head>
                    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                    <title>牛栏</title>
                </head>

                <style>
                    .divcss5 {
                        text-align: center;
                    }
                </style>


                <div class="divcss5">

                    <p>用于饲养小牛，给小牛喂食，等成熟后可收获牛肉。收获的牛肉，可以在加工厂中进行兑换。</p>

                    <img src="~/Content/happyFamily/icon/nl.jpg" />
                </div>

                <body>
                </body>
            </html>

            </ul>

            <ul class="pager pager-r"></ul>

        </div>
    </div>
</div>
