@{
    Layout = "~/Views/Shared/_HappyFamilyHelp.cshtml";
}

@*导航栏*@
@section breadcrumb
{

    <li class="active">建筑系统</li>
}

@*系统选择部分*@
@section pagenavi
{
    <li class="navi-m1 active"><a href="javascript:void(0);" data-type="jz" title="全家乐建筑">全家乐建筑</a></li>
    <li class="navi-m2"><a href="javascript:void(0);" data-type="yz" title="全家乐养殖">全家乐养殖</a></li>
    <li class="navi-m3"><a href="javascript:void(0);" data-type="xt" title="全家乐系统">全家乐系统</a></li>
}

@*主体部分*@
<!--列表栏-->
<div class="page-main">
    <div class="container">
        <div class="col-lg">
            <ul id="list" class="list list-col4 list-row2 comm-color list-lg clear">

                <li class="txt-c">
                    <a href="Shop" title="商店" target="_blank">
                        <img src="/Content/happyFamily/icon/sd.jpg" alt="商店" width="180" height="147" class="list-thumb">
                        <p class="list-link">商店</p>
                    </a>
                </li>

                <li class="txt-c">
                    <a href="garage" title="车房" target="_blank">
                        <img src="/Content/happyFamily/icon/cf.jpg" alt="车房" width="180" height="147" class="list-thumb">
                        <p class="list-link">车房</p>
                    </a>
                </li>
                <li class="txt-c">
                    <a href="Stall" title="地摊" target="_blank">
                        <img src="/Content/happyFamily/icon/dt.jpg" alt="地摊" width="180" height="147" class="list-thumb">
                        <p class="list-link">地摊</p>
                    </a>
                </li>
                <li class="txt-c">
                    <a href="Leisure_bar" title="休闲吧" target="_blank">
                        <img src="/Content/happyFamily/icon/xxb.jpg" alt="休闲吧" width="180" height="147" class="list-thumb">
                        <p class="list-link">休闲吧</p>
                    </a>
                </li>
                <li class="txt-c">
                    <a href="My_Home" title="我的家" target="_blank">
                        <img src="/Content/happyFamily/icon/wdj.jpg" alt="我的家" width="180" height="147" class="list-thumb">
                        <p class="list-link">我的家</p>
                    </a>
                </li>
                <li class="txt-c">
                    <a href="arena" title="竞技场" target="_blank">
                        <img src="/Content/happyFamily/icon/jjc.jpg" alt="竞技场" width="180" height="147" class="list-thumb">
                        <p class="list-link">竞技场</p>
                    </a>
                </li>
                <li class="txt-c">
                    <a href="processing_factory" title="加工厂" target="_blank">
                        <img src="/Content/happyFamily/icon/jgc.jpg" alt="加工厂" width="180" height="147" class="list-thumb">
                        <p class="list-link">加工厂</p>
                    </a>
                </li>
                <li class="txt-c">
                    <a href="Finance_Building" title="金融大厦" target="_blank">
                        <img src="/Content/happyFamily/icon/jrds.jpg" alt="金融大厦" width="180" height="147" class="list-thumb">
                        <p class="list-link">金融大厦</p>
                    </a>
                </li>

                <li class="txt-c">
                    <a href="Cargo_ship" title="货船" target="_blank">
                        <img src="/Content/happyFamily/icon/hc.jpg" alt="货船" width="180" height="147" class="list-thumb">
                        <p class="list-link">货船</p>
                    </a>
                </li>

                <li class="txt-c">
                    <a href="wharf" title="码头" target="_blank">
                        <img src="/Content/happyFamily/icon/mt.jpg" alt="码头" width="180" height="147" class="list-thumb">
                        <p class="list-link">码头</p>
                    </a>
                </li>
            </ul>

            <ul class="pager pager-r"></ul>

        </div>
    </div>
</div>


