@{
    Layout = "~/Views/Shared/_HappyFamilyHelp.cshtml";
}

@*导航栏*@
@section breadcrumb
{
  
    <li class="active">建筑系统</li>
}

@*系统选择部分*@
@section pagenavi
{
    <li class="navi-m1 active"><a href="javascript:void(0);" data-type="jz" title="全家乐建筑">全家乐建筑</a></li>
    <li class="navi-m2"><a href="javascript:void(0);" data-type="yz" title="全家乐养殖">全家乐养殖</a></li>
    <li class="navi-m3"><a href="javascript:void(0);" data-type="xt" title="全家乐系统">全家乐系统</a></li>
}

@*主体部分*@
<!--列表栏-->
<div class="page-main">
    <div class="container">
        <div class="col-lg">
            <ul id="list" class="list list-col4 list-row2 comm-color list-lg clear">

                <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
                <html xmlns="http://www.w3.org/1999/xhtml">
                <head>
                    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                    <title>加工厂</title>
                </head>

                <style>
                    .divcss5 {
                        text-align: center;
                    }
                </style>


                <div class="divcss5">
                    <b><p>收获的农作物，如：猪肉，蜂蜜等可在加工厂中按一定比例进行加工，兑换成线下物品，如农场中收获的猪肉可以兑换成线下的猪肉脯</p></b>


                    <img src="~/Content/happyFamily/icon/jgc.jpg" />
                </div>

                <body>
                </body>
            </html>

            </ul>

            <ul class="pager pager-r"></ul>

        </div>
    </div>
</div>
